{% extends "model-page.html" %}
{% load static %}

{% block content %}
<title>Agenda</title>

<h2 class="titulo-agendamentos">Agendamentos</h2>

<!-- CSS -->
<link rel="stylesheet" href="{% static '/core/css/style.css' %}">

<div class="galeria-agenda">
    {% for evento in eventos %}
    <div class="evento-card {% if evento.get_evento_atrasado %}atrasado{% endif %}"
        style="border-left: 6px solid {{ evento.categoria.cor|default:'#00ff88' }};"
        data-descricao="{{ evento.descricao|escapejs }}"
        data-titulo="{{ evento.titulo|escapejs }}"
        data-categoria="{{ evento.categoria.id|default:'' }}"
        onclick="abrirModal(this)">
        <div class="evento-titulo">{{ evento.titulo }}</div>
        <div class="evento-data">{{ evento.get_data_evento }}</div>
        <div class="evento-acoes">
    <a href="evento/?id={{ evento.id }}" onclick="event.stopPropagation()">Editar</a>
    <a href="evento/delete/{{ evento.id }}" 
       onclick="event.stopPropagation(); return confirmarExclusao();">Excluir</a>
</div>
    </div>
    {% endfor %}
</div>

<!-- Modal dinâmico no template -->
<div id="evento-modal" class="modal hidden">
    <div class="modal-content zoom">

        <select id="modal-categoria" class="select-categoria" onchange="alterarCategoria(this)">
    <option value="">Selecione a categoria</option>
    {% for cat in categorias %}
        <option value="{{ cat.id }}" style="color: {{ cat.cor }};">{{ cat.nome }}</option>
    {% endfor %}
</select>

        <span class="close-btn" onclick="fecharModal()">&times;</span>
        <h3 id="modal-titulo" class="evento-titulo"></h3>
        <p id="modal-descricao" class="evento-descricao"></p>
    </div>
</div>

<!-- JS no fim do conteúdo -->
<script src="{% static 'core/js/agenda.js' %}"></script>

{% endblock %}
