<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'core/css/sidebar.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-title">Agenda</div>
        <button class="main-page">
            <a href="/">Página Inicial</a>
        </button>
        <button class="event">
            <a href="evento/">Novo Evento</a>
        </button>
        <button class="logout">
            <a href="/logout">Logout</a>
        </button>
    </div>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    {% include "model-footer.html" %}
    <script src="{% static 'core/js/agenda.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
